<div class="post">
  <div class="post-header">
    <h2>Post #<%= @user.posts.index(@post) + 1 %>
      by
      <%= @user.name %></h2>
    <h5>Comments:
      <%= @post.comments_counter %>,&nbsp;Likes:
      <%= @post.likes_counter %></h5>
  </div>
  <h3><%= @post.title %></h3>
  <p><%= @post.text %></p>
</div>

<% if @post.comments_counter > 0 %>
  <div class="comments">
    <% @comments.each do |comment| %>
      <li><%= comment.author.name %>:
      <%= comment.text %></li>
    <% end %>
  </div>
<%end%>

<%= button_to "Like Post", user_post_likes_url(user_id: current_user.id, post_id: @post.id), method: :post %>


<div class="post-form">
  <h3>Add Comment</h3>
<%= form_with(model: [@post, Comment.new], url: user_post_comments_url(@post.author, @post), local: true) do |form| %>
  <%= form.label :text %>
  <%= form.text_area :text %>
  <%= form.submit 'Create Comment' %>
<% end %>
</div>
